parameters:
    level: 8
    paths:
        - src
    tmpDir: .phpstan-cache
    scanFiles:
        - vendor/craftcms/cms/src/Craft.php
        - vendor/yiisoft/yii2/Yii.php
        - vendor/twig/twig/src/Extension/CoreExtension.php
    stubFiles:
        - phpstan/stubs/BaseYii.stub
        - phpstan/stubs/console/Application.stub
        - phpstan/stubs/web/Application.stub
    earlyTerminatingMethodCalls:
        Craft:
            - dd
        yii\base\Application:
            - end
        yii\base\ErrorHandler:
            - convertExceptionToError
